doctype html
html(lang="en")
	head
		title Henry Wu
		meta(charset="utf-8")
		meta(name="description", content="Portfolio Site")
		meta(name="author", content="Henry Wu")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
		link(rel="stylesheet", href="stylesheets/style.css")
		link(href="https://fonts.googleapis.com/css?family=Jaldi" rel="stylesheet")
		script(src="js/jquery-3.0.0.min.js")
		script(src="js/functions.js")
	body
		.container-fluid
			.row
				.col-md-5.greeting
					h1.thick Henry Wu
					p Hi there, I am a self-taught <span class="thick">web developer</span> living in <span class="thick">California</span>. Currently, I am working through Udacity's Full Stack Web Developer Nanodegree.
					ul.list-inline
						li: a(href="Henry_Wu_Resume.pdf" target="_blank" id="resume") Resume
						li: a(href="https://github.com/guosim" id="github") Github
						li: a(href="mailto:guosims@yahoo.com" id="email") E-mail
				.col-md-7.projects
					.row
						figure.col-md-6: a(href="http://guosim.github.io/CounterStrat/")
							img.img-responsive(src="images/counterstrat.png")
							figcaption <strong>CounterStrat</strong><br>My second and most recent submission at a hackathon, CounterStrat is a strategy planner for the game Counter-Strike: Global Offensive.
						figure.col-md-6: a(href="http://guosim.github.io/microcosm/")
							img.img-responsive(src="images/microcosm.png")
							figcaption <strong>Microcosm</strong><br> A showcase of different parallax techniques.
					.row
						figure.col-md-6: a(href="http://www.poolwhippros.com/")
							img.img-responsive(src="images/poolwhippros.png")
							figcaption <strong>PoolWhipPros</strong><br>A company website I made for a friend.
						figure.col-md-6: a(href="http://tarot-person.appspot.com/")
							img.img-responsive(src="images/tarotperson.png")
							figcaption <strong>Tarot Person</strong><br>The first website I made for a hackathon, Tarot Person is inspired by fortune teller machines found at arcades. Bitcoin is integrated to simulate coin-operated readings.
