.greeting {
  padding: 5% 5% 0% 13%;
  font: 32px 'Jaldi', sans-serif;
  color: #93AAAB;
  line-height: 2em;
}

.greeting ::selection {
  background-color: #E0F7F8;
}

.greeting .thick {
  color: #6D8485;
}

.greeting h1 {
  font: 44px 'Jaldi', sans-serif;
}

.greeting a {
  transition: all 0.3s ease-in-out;
}

.greeting a:hover {
  text-decoration: none;
  color: #93AAAB;
  transition: all 0.3s ease-in-out;
}

.projects {
  padding-top: 5%;
}

.projects figure {
  background-color: white;
  width: calc(15% + 150px);
  height: calc(15% + 150px);
  position: relative;
  border: 1px solid #a1b2b3;
  margin: 5px;
  padding: 0;
  overflow: hidden;
  opacity: 0;
  transform: translateX(-15px);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.projects figure img {
  transform: scale(0.8);
  transition: all 0.2s ease-in-out;
}

.projects figure figcaption {
  position: absolute;
  bottom: -100%;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 2px 8px;
  transition: all 0.3s ease-in-out;
}

.projects figure.is-showing {
  opacity: 1;
  transform: translateX(0px);
}

.projects figure:hover figcaption {
  bottom: 0px;
}

.projects figure:hover img {
  transform: scale(1);
}

#resume {
  color: #03A9F4;
}

#resume:hover {
  color: #93AAAB;
}

#github {
  color: #E91E63;
}

#github:hover {
  color: #93AAAB;
}

#email {
  color: #FFC107;
}

#email:hover {
  color: #93AAAB;
}

.glyphicon-user {
  font-size: 28px;
}
